<!DOCTYPE html>
<html lang="en">

<head>
	<link rel="icon" type="image/png" href="../assets/images/cat_favi_ico.png">
	<meta charset="UTF-8">
	<title>Copy Cats Since 1822</title>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<link rel="stylesheet" href="../assets/css/project2.css" type="text/css" />
	<link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Jolly+Lodger&family=Roboto+Slab&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.3/css/lightbox.min.css" type="text/css" />

</head>

<body>
{{!-- top nav bar start --}}
<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="/assets/images/cat_favi_ico.png" height="30" alt="" loading="lazy">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products/3">Featured</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/products">Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about/">About Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact/">Contact</a>
      </li>
      <li class="shopping-cart-icon">
        <a class="shopping-cart" href="/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
</nav>
{{!-- top nav bar end --}}

<div class="container-fluid">
	{{{ body }}}
</div>

{{!-- footer --}}
<footer>
  <p class="footer">U of O Full-stack Boot Camp Project 2, October 2020 // all content copyright its respective owners
    // Copy Cat isn't a real service, please go to your nearest animal shelter to adopt a new furry family member
  </p>
</footer>

{{!-- bootstrap javascript --}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>

</body>

</html>