{{!-- about copy cats container start --}}

<div class="container-fluid h-100">
    <div class="row justify-content-center h-100 aboutText">
        <div class="col-sm-12 col-md-12 col-lg-12">

            <p class="headline">
                Copy Cats is the world premier high-yield kitten enterprise. </p>

            <p class="catCopy">Since 1822 we've been connecting feline
                friends with their future fur families. Our process for developing our kitty friends has changed over
                the decades, but one thing has always been the same: we deliver the friendliest and most adorable cats
                in the business.
            </p>

            <div class="container-fluid">
                <div class="row justify-content-center h-100">

                    <!-- LEFT SIDE -->

                    <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 left">

                        <div class="row justify-content-center align-self-center">
                            <img class="historicCat" src="../assets/images/historic_cat_photo.jpg" />
                        </div>

                    </div>



                    <!-- RIGHT SIDE -->

                    <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 right">
                        <div>

                        </div>
                        <div>

                            <p class="catCopy">
                               In late fall of 1821, Ebineezer Johnson was tending to his farm in the Kansas Territory, pining about how he needed more rodent control or the Johnson Family risked losing the farm.  Of course, this was in the middle of the Great Feline Shortage of the 20s and cats were in short supply.
                            </p>
                            <p class="catCopy">
                                It was his wife, Ann Johnson, who came up with the Copy Cat Patented formula after it came to her one night in a dream.  In a few short days, she was able to come up with a means of mass-producing cats, thus ending the Great Feline Shortage, and more importantly, saving the Johnson Farm. The Johnsons broke ground on their first factory that following spring.
                            </p>
                            <p class="catCopy">At Copy Cats, we still use Ann's formula to create lovable fur family members, but of course, we've also adapted the process as technology has advanced.  The Johnsons couldn't have imagined animal chipping, pre-programmed name and language recognition, or even automatic home retrieval when your cat wanders off for too long.  This combined with free overnight shipping, Copy Cats is the world leader in high-yield kitten production.</p>



                        </div>
                    </div>


                </div>
            </div>



        </div>
    </div>
</div>

{{!-- about copy cats container end  --}}
