{{!-- about copy cats container start --}}

<div class="container-fluid h-100">
    <div class="row justify-content-center h-100 aboutText">
        <div class="col-sm-12 col-md-12 col-lg-12">

            <p class="headline">
                Contact Copy Cats </p>

                <p class="catCopy">Copy Cats is committed to standing by our products to make sure that every day of your pet experience is as wonderful as the day you first unboxed your kitten. </p>

                <p class="catCopy">If you have any questions about your pet, please call our support line at 1-888-CAT-HELP and we will be happy to assist with any questions you might have.</p>

                <p class="headline">FAQs</p>
                <p class="catCopy">My cat is behaving strangely/meowing backwards/won't close its eyes/walking upright on two legs, what can I do?</p>
                <p class="catCopy">Try rebooting your cat with the following steps:</p>
                <li class="catCopy">Maneuver your cat into a seated position</li>
                <li class="catCopy">Gently rub your cat's head five times</li>
                <li class="catCopy">Gently scratch behind your cat's LEFT ear</li>
                <br>
                <p class="catCopy">If this does not work, you can try to hard-reboot your pet by scratching under its chin in an upward motion for 30 seconds.  If this doesn't work, please contact us at 1-888-CAT-HELP.</p>
                <br>

                <p class="catCopy">For standard inquiries, Copy Cats can be reached by phone at:</p><p class="catCopy">913-555-1234, our office hours are 8am to 4pm CST.</p>
                <p class="catCopy">Copy Cats can be reached by mail at:</p>
                <p class="catCopy">Copy Cats</p>
                <p class="catCopy">PO Box 342</p>
                <p class="catCopy">Kansas City, Kansas 66012</p>
                <p class="catCopy">Please do not return your pet to the PO Box.</p> 

          

      



        </div>
    </div>
</div>

{{!-- about copy cats container end  --}}