{{!-- top nav bar start --}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products/3">Featured</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/products">Products</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/about/">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/contact/">Contact</a>
            </li>
            <li class="shopping-cart-icon">
                <a class="shopping-cart" href="#"><i class="fa fa-shopping-cart" aria-hidden="true"></i></a>
            </li>
        </ul>
    </div>
</nav>
{{!-- top nav bar end --}}

{{!-- about copy cats container start --}}

<div class="container-fluid h-100">
    <div class="row justify-content-center h-100 aboutText">
        <div class="col-sm-12 col-md-12 col-lg-12">

            <p class="headline">
                Contact Copy Cats </p>

                <p class="catCopy">Copy Cats is committed to standing by our products to make sure that every day of your pet experience is as wonderful as the day you first unboxed your kitten. </p>

                <p class="catCopy">If you have any questions about your pet, please call our support line at 1-888-CAT-HELP and we will be happy to assist with any questions you might have.</p>

                <p class="headline">FAQs</p>
                <p class="catCopy">My cat is behaving strangely/meowing backwards/won't close its eyes/walking upright on two legs, what can I do?</p>
                <p class="catCopy">Try rebooting your cat with the following steps:</p>
                <li class="catCopy">Maneuver your cat into a seated position</li>
                <li class="catCopy">Gently rub your cat's head five times</li>
                <li class="catCopy">Gently scratch behind your cat's LEFT ear</li>
                <br>
                <p class="catCopy">If this does not work, you can try to hard-reboot your pet by scratching under its chin in an upward motion for 30 seconds.  If this doesn't work, please contact us at 1-888-CAT-HELP.</p>
                <br>

                <p class="catCopy">For standard inquiries, Copy Cats can be reached by phone at:</p><p class="catCopy">913-555-1234, our office hours are 8am to 4pm CST.</p>
                <p class="catCopy">Copy Cats can be reached by mail at:</p>
                <p class="catCopy">Copy Cats</p>
                <p class="catCopy">PO Box 342</p>
                <p class="catCopy">Kansas City, Kansas 66012</p>
                <p class="catCopy">Please do not return your pet to the PO Box.</p> 

          

      



        </div>
    </div>
</div>

{{!-- about copy cats container end  --}}



<footer>
    <p class="footer">U of O Full-stack Boot Camp Project 2, October 2020 // all content copyright its respective owners
        // Copy Cat isn't a real service, please go to your nearest animal shelter to adopt a new furry family member
    </p>
</footer>

{{!-- bootstrap javascript --}}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>