{{!-- cat title image container --}}
<div class="container-fluid">
    <div class="row">
        <div class="jumbotron">

            <div class="cat-box">
                <img class="cat-title" src="../assets/images/copy_cats_title.png" />
            </div>

        </div>
    </div>
</div>
{{!-- end cat title image container --}}

{{!-- about copy cats container start --}}

<div class="container-fluid h-100">
    <div class="row justify-content-center h-100 aboutText">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="headline">
                Copy Cats is the world premier high-yield kitten enterprise. </p> 
                
                <p class="catCopy">Since 1822 we've been connecting feline
                friends with their future fur families. Our process for developing our kitty friends has changed over the decades, but one thing has always been the same: we deliver the friendliest and most adorable cats in the business.   

            </p>
            <a href="/about/"><p class="catCopy">Click here for our story!</p></a>
        </div>
    </div>
</div>

{{!-- about copy cats container end  --}}

{{!-- featured cat start --}}

<div class="container-fluid">
    <div class="featuredText row justify-content-center">

        <!-- LEFT SIDE -->

        <div class="col-sm-12 col-md-12 col-lg-4 col-xl-4 hidden-md-down left">

            <div class="row justify-content-center align-self-center">
                <img class="featuredImage" src="../assets/images/cat_type_03th.jpg" />
            </div>

        </div>



        <!-- RIGHT SIDE -->

        <div class="col-sm-12 col-md-12 col-lg-8 col-xl-8 right">
            <div>

            </div>
            <div>
                <h2 class="featuredFont">
                    Our featured kitty for the month of October!
                </h2>
                <p class="featuredCopy">
                    Just in time for the Halloween Season, we're happy to announce overstock on our black kitten.
                </p>
                <p class="featuredCopy">
                    These kittens are guaranteed to be a real treat!
                </p>
                <p class="featuredCopy">
                    <a href="/products/3">Click here for more information</a>!
                </p>

            </div>
        </div>


    </div>
</div>

{{!-- featured cat end --}}

{{!-- more info copy cats start  --}}

<div class="container-fluid h-100">
    <div class="row justify-content-center h-100 moreInfo">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <p class="headline">
                Have questions about your new furry family member?</p> 
                
                <p class="catCopy">
                    What should you feed your kitten?  How should you care for your new friend?  Is your kitten meowing backwards?

            </p>
            <a href="/contact/"><p class="catCopy">Click here for answers to all of your questions</p></a>
        </div>
    </div>
</div>

{{!-- more info copy cats end  --}}